# Ignore all files in the bin directory except for .gitkeep
# Ignore the .vscode directory
shell-emu/bin/*
!shell-emu/bin/.gitkeep
logs/*
!logs/.gitkeep
.vscode
dashboard/honeypot_dashboard/venv
.venv
.env
*.pyc
__pycache__/
ssh-server/key/*